{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fulid sidebar sticky-top">
    <div class="category-sidebar">
        <ul class="category-list sidebar-item d-flex flex-wrap justify-content-center py-3">
            <li>
                <a href="{% url 'products:list' %}">所有商品</a>
            </li>
            {% for category in categories %}
            <li>
                <a href="{% url 'products:list' %}?category={{ category.id }}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<section class="page-header">
    <div id="imageCarousel" class="carousel slide mb-1" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in carousel_images %}
            <li data-bs-target="#imageCarousel" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in carousel_images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ image.image.url }}" alt="{{ image.name }}" class="d-block w-100">
                <div class="carousel-caption d-none d-md-block">
                    <p>{{ image.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev custom-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-left-fill text-secondary" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
            </svg>
        </a>
        <a class="carousel-control-next custom-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-right-fill text-secondary" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
        </a>
    </div>
</section>

<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% if current_category %}
                <h2 class="current-category-title">{{ current_category.name }} 商品</h2>
                {% else %}
                <h2>所有商品</h2>
                {% endif %}
                <div class="row m-1">
                    {% for item in page_obj %}
                    <div class="prodect-card col-md-4 border border-dark rounded ps-0 pe-0">
                        <div class="product-item m-2">
                            <div class="product-thumb">
                                {% if item.product_image_set.first %}
                                <a href="{% url 'products:detail' item.id %}">
                                    <img class="img-responsive" src="{{ item.product_image_set.first.image.url }}"
                                        alt="product-img" style="max-width: 100%; height: auto;" />
                                </a>
                                {% endif %}
                            </div>
                            <div class="product-content border-top mt-2">
                                <h4><a href="{% url 'products:detail' item.id %}">{{ item.name }}</a></h4>
                                <p class="product-price">${{ item.lowest_price|floatformat:0 }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="pagination" style="display: flex; justify-content: center;">
                    <ul class="pagination" style="display: inline-block; list-style-type: none; padding: 0;">
                        {% if page_obj.has_previous %}
                        <li style="display: inline; margin: 0 5px;">
                            <a href="{% url 'products:list' %}?page={{ page_obj.previous_page_number }}{% if current_category %}&category={{ current_category.id }}{% endif %}">&laquo;</a>
                        </li>
                        {% endif %}
                
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="active"
                            style="display: inline; margin: 0 5px; background-color: black; color: white; border-radius: 50%; padding: 5px 10px;">
                            <span>{{ num }}</span>
                        </li>
                        {% else %}
                        <li style="display: inline; margin: 0 5px;">
                            <a href="{% url 'products:list' %}?page={{ num }}{% if current_category %}&category={{ current_category.id }}{% endif %}">{{ num }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                
                        {% if page_obj.has_next %}
                        <li style="display: inline; margin: 0 5px;">
                            <a href="{% url 'products:list' %}?page={{ page_obj.next_page_number }}{% if current_category %}&category={{ current_category.id }}{% endif %}">&raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
